<!DOCTYPE html>
<html>
  <head>
    <title>SHK FRAMEWORK</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to SHK FRAMEWORK</p>
    <a href="<%= routes.recentPosts %>">posts</a>
  </body>
</html>
