<!DOCTYPE html>
<html>
  <head>
    <title>posts - SHK FRAMEWORK</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>posts</h1>
    <ul>
    	<% for(i=0;i<posts.length;i++){ %>
    		<li>
    			<%= posts[i].title %>
    		</li>
    	<% } %>
    </ul>
  </body>
</html>
